* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

/* figtree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/figtree-v9-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: italic;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: rgba(6, 23, 30, 1);
}

header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
}

.header-content {
    height: 32px;
    width: 168px;
    display: flex;
    gap: 10px;

    p {
        display: flex;
        align-items: center;
        color: white;
        font-size: 32px;
        font-family: Figtree;
        font-weight: 800;
    }
}

main {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        font-family: Figtree;
        font-weight: 800;
        font-size: 48px;
        color: white;
    }
}

.main-section {
    margin-top: 20px;
}

footer {
    margin-top: 650px;
    height: 103px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.footer-section {
    margin-top: 25px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        height: 24px;
        width: 100px;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-text {
    p {
        font-family: Figtree;
        font-size: 14px;
        color: rgba(153, 172, 179, 1);
    }
}

.da-img {
    height: 22px;
    width: 28px;
}

.img-content {
    margin-top: 56px;
    margin-bottom: 56px;

    width: 100%;
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgs-content {
    height: 120px;
    width: 120px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.imgs-content:hover {
    height: 165px;
    width: 165px;
}

dialog {
    height: 664px;
    width: 343px;
    background-color: rgba(9, 33, 42, 1);
    border-radius: 40px;
    top: 250px;
    left: 750px;
}
